<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Personal Inventory</title>


    <!-- Custom CSS files -->
    @Styles.Render("~/Content/TableDesign.css")
    @Styles.Render("~/Content/Default.css")
    
    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/css")
    <!--Styles.Render("~/Content/bootstrap") -->

    <!-- Modernizr JS -->
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <!-- Header section -->
    <header>
        <h1>
            Welcome to your
            @Html.ActionLink("Personal Inventory", "Index", "Items", null, new { @class = "no-decoration" })
        </h1>
    </header>

    <!-- Navigation section -->
    <nav>
        <div class="container-fluid">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                <li>@Html.ActionLink("Item Inventory", "Index", "Items")</li>
                <li>@Html.ActionLink("Create Account", "Create", "Users")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </nav>

    <main class="container-md">
        <!-- Main content section -->
        <div class="body-content">

            @RenderBody()

        </div>
        <!-- Footer section -->
        <footer>
            <p>&copy; @DateTime.Now.Year - Personal Inventory Website by Molly Meyer</p>
        </footer>

        <!-- jQuery JS -->
        @Scripts.Render("~/bundles/jquery")

        <!-- Custom scripts section -->
        @RenderSection("scripts", required: false)

    </main>
</body>
</html>
