@model IEnumerable<MVC_InventoryWebApp.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Index</h2>

    <p>
        [Img of beat up old file cabinet with Incentive phrase to use new version]
    </p>

    <p>
        @Html.ActionLink("Create New Category", "~/Views/Categories/Index.cshtml")
    </p>

    <p>
        @Html.ActionLink("Create New Category", Url.Action("Index", "Categories", new { area = "" }), new { target = "_blank" })
    </p>

    <a href="~/Views/Categories/Index.cshtml">
        <p>
            @Html.ActionLink("Create New Category", Url.Action("Index", "Categories", new { area = "" }), new { target = "_blank" })
        </p>
    </a>

    <h3>
        @Html.ActionLink("Create New Item", "Create")
    </h3>

</div>




    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

