<!--One or the other, not both-->
<!--model IEnumerable<MVC_InventoryWebApp.Models.Item>-->
@model PagedList.IPagedList<MVC_InventoryWebApp.Models.Item>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Inventory Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Items</h1>
<!--Search Box & page controls-->
<!--("Index", "Item", FormMethod.Get)-->
@using (Html.BeginForm())
{
<p>
    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { id = "searchBar", placeholder = "Search..." })
    <!--<input type="submit" value="Search" />-->
    <button id="clearButton" type="button">Clear</button>
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CategorySortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.QuantitySortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Add New Item", "Create")
</p>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


@section Scripts {
    <script>
    //This script focuses on the search bar when the page loads,
    //allowing for dynamic searching, and clears the search bar and table
    //when the clear button is clicked.

    $(document).ready(function () {
        // Set focus on the search bar when the page loads
        $("#searchBar").focus();
        $("#searchBar")[0].setSelectionRange($("#searchBar").val().length, $("#searchBar").val().length);

        // Clear the search bar and table when the Clear button is clicked
        $("#clearButton").click(function () {
            $("#searchBar").val("").focus();
            location.href = "@Url.Action("Index")";
        });

        // Submit the search form on typing in the search bar
            $("#searchBar").on("input", function () {
                $(this).closest("form").submit();
            }); 
    });
    </script>
}