@{
    ViewBag.Title = "Contact";
}

@model MVC_InventoryWebApp.Models.ContactViewModel



<div class="jumbotron">

    <h2>Have a question about this app?</h2>
    <h3>Feel free to send a message!</h3>

    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    }
</div>

